# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment
.env

# Database
instance/
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
